* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-shadow: 1px 1px 3px #47474762;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.time-container {
    justify-content: center;
    align-self: center;
}

.time-container h1{
    font-size: 4.5em;
}

.author-container,
.crypto-container,
.weather-container,
.time-container {
    backdrop-filter: blur(20px);
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px 20px;
    margin: 10px 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.Dogecoin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dogecoin img {
    width: 30px;
    padding-right: 5px;
}

.Dogecoin p {
    padding-right: 10px;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.weather-container img {
    width: 50px;
}

.weather-data h3 {
    font-size: 1.1em;
}